
img{
    width: 250px;
    height: 200px;
}
ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
li{
    list-style: none;
    display: inline-block;
    align-content:flex-end;
    margin: 10px 10px;
    height: 409px;
    width: 250px;
    text-align: center;
    border: 6px solid rgb(252, 170, 170);
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    width: 100px;
    text-align: center;
    height: 120px;
    width: 250px;
    font-size: larger;
    margin: auto;
    font-weight: bold;
    
 }

h2{
    height: 86px;
    width: 250px;
    background-color:  rgb(248, 197, 197);
    margin: 0px;
    
    
 }

 header{
     text-align: center;
 }

 